<div class="row g-3 mb-4">
    @await Component.InvokeAsync("_DashBoardLineChartComponentPartial")
    @await Component.InvokeAsync("_DashboardBarChartComponentPartial")
    @await Component.InvokeAsync("_DashboardPieChartComponentPartial")
</div>