<!-- FOOTER -->
<footer>
    <div class="container">

        <!-- ROW -->
        <div class="row alignc">

            <!-- FOOTER COLUMN 1 -->
            <div class="col-md-4">
                <div class="footer-content">
                    <h5>ADDRESS:</h5>
                    <p>
                        Dina Restaurant <br />
                        Bağdat Caddesi No: 123 Kadıköy, İstanbul
                    </p>
                </div>
            </div>

            <!-- FOOTER COLUMN 2 -->
            <div class="col-md-4">
                <div class="footer-content">
                    <h5>Rezervasyon:</h5>
                    <p>
                        530-5300-5353<br />
                        contact@dina.com
                    </p>
                </div>
            </div>

            <!-- FOOTER COLUMN 3 -->
            <div class="col-md-4">
                <div class="footer-content">
                    <h5>Çalışma Saatlerimiz:</h5>
                    <p>
                        Pazartesi - Cuma: 10:00 - 23:00 <br />
                        Cumartesi - Pazar: 09:00 - 01:00
                    </p>
                </div>
            </div>

        </div>
        <!-- /ROW -->
        <!-- FOOTER SOCIAL -->
        <ul class="footer-social">
            <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a class="social-tripadvisor" href="#" target="_blank"><i class="fab fa-tripadvisor"></i></a></li>
            <li><a class="social-pinterest" href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
            <li><a class="social-instagram" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!-- /FOOTER SOCIAL -->
        <!-- FOOTER COPYRIGHT -->
        <div class="copyright">
            Tüm Hakları Saklıdır &copy; @DateTime.Now.Year, PostgreSQL - DatabaseMastery
        </div>
        <!-- /FOOTER COPYRIGHT -->
        <!-- FOOTER SCROLL UP -->
        <div class="scrollup">
            <a class="scrolltop" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
        <!-- /FOOTER SCROLL UP -->

    </div>
    <!--container-->

</footer>
<!-- /FOOTER -->