<header id="header-1">
    <div class="headerWrap-1">
        <nav class="navbar-1">
            <!-- TOP LEFT PAGE TEXT  -->
            <div class="top-location">
                <span class="info-txt">Bağdat Caddesi No: 123 </span>
                <span class="info-txt">Kadıköy, İstanbul</span>
            </div>
            <!-- TOP RIGHT PAGE TEXT  -->
            <div class="book-now">
                <span class="info-txt">Rezervasyon</span>
                <span class="info-txt">+90-530-5300-5353</span>
            </div>

            <!-- MOBILE BUTTON NAV  -->
            <div class="nav-button-holder nav-btn-mobile inactive">
                <span class="menu-txt">Menü</span>
                <button type="button" class="nav-button">
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="nav-content-1">
                <!-- LOGO -->
                <div class="logo-1"><a href="index.html"><img class="img-fluid" src="/dina-html/images/logo-dina-white.png" alt="" /></a></div>
                <!-- MENU -->
                <div class="nav-holder nav-holder-1 nav-holder-desktop">
                    <ul id="menu-menu-1" class="menu-nav menu-nav-1">
                        <li class="menu-item"><a href="#">Ana Sayfa</a></li>
                        <li class="menu-item"><a href="#">Menü</a></li>
                        <li class="menu-item"><a href="#">Rezervasyon</a></li>
                        <li class="menu-item"><a href="#">Kategoriler</a></li>
                        <li class="menu-item"><a href="#">Galeri</a></li>
                        <li class="menu-item"><a href="#">Bize Yazın</a></li>
                    </ul>
                </div>
                <!-- /MENU -->

            </div>
        </nav>
    </div>
    <!--headerWrap-->
</header>
